@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  body {
    padding-top: 80px;
  }
  
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar > * {
    margin: 0;
  }

  .hero {
    margin-top: 20px;
  }

  .container {
        width: 90%;
  }

  .about-me-content {
    flex-direction: column;
    align-items: center;
  }

  .about-me-img {
    height: auto;
    width: 100%;
  }

  .contact-me-text {
    width: 100%;
    flex-direction: column;
  }

  .footer {
    padding: 10px;
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }
  .navbar {
    display: none;
    flex-direction: column;
    background-color: #ddd0C8;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1);
  }
  .navbar li {
    text-align: center;
  }
  .navbar li:hover {
    color: white;
    border-bottom: 5px solid white;
  }
}

* {
  font-family: "Poppins", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  background-color: #ddd0c8;
  scroll-behavior: smooth;
}

body {
  padding-top: 60px;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
}

header {
  margin: 10px;
  padding: 10px;
  flex-wrap: wrap;
}

.pfp-container {
  display: flex;
  justify-content: center;
  padding: 30px;
}

.pfp {
  border-radius: 225px;
  -webkit-border-radius: 225px;
  -moz-border-radius: 225px;
  -ms-border-radius: 225px;
  -o-border-radius: 225px;
}

.job-title {
  color: navy;
  font-size: 60px;
  font-weight: bold;
}

.header-info {
  color: navy;
  font-size: 25px;
  font-weight: bold;
  flex-wrap: wrap;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #ddd0c8;
  width: 100%;
}

.navbar {
  text-decoration: none;
  color: navy;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 25px;
  border-bottom: 2px solid black;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.1);
}

.hamburger {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  font-size: 24px;
  color: navy;
  padding: 15px;
}

.navbar > * {
  padding: 15px;
  margin: 15px;
  text-align: center;
}

.navbar > li:hover {
  color: white;
  border-bottom: 5px solid white;
}

.hero {
  margin-top: 60px;
  text-align: center;
}

.github-link {
  display: flex;
  justify-content: center;
}

.container {
  padding: 15px;
  margin: 10px;
  width: 80%;
  max-width: 600px;
  min-height: 400px;
  align-items: center;
}

.tech-stack {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 15px;
  text-align: center;
}

.h1-ts {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  padding-bottom: 10px;
  color: navy;
}

.tech-stack-list ul {
  display: flex;
  list-style: none;
}

.tech-stack-list li {
  display: flex;
  margin: 8px;
}

h1 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.section-h1s {
  font-size: 40px;
  color: navy;
  padding: 10px;
}

.about-me {
  min-height: 250px;
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.about-me-img {
  height: 29rem;
  width: 35rem;
  border-radius: 1.7rem;
  -webkit-border-radius: 1.7rem;
  -moz-border-radius: 1.7rem;
  -ms-border-radius: 1.7rem;
  -o-border-radius: 1.7rem;
}

.about-me-content {
  display: flex;
  justify-content: space-around;
}

.about-me-text {
  color: navy;
  font-weight: bold;
  padding: 10px;
  font-size: 24px;
}

.coursework {
  font-weight: bold;
  font-size: 26px;
}

.Projects {
  min-height: 250px;
}

.contact-me {
  width: 100%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  min-height: 250px;
}

.contact-me-text {
  display: flex;
  padding: 10px;
  justify-content: space-evenly;
  width: 500px;
}

.contact-subtext {
  font-size: 20px;
  color: navy;
  padding: 10px;
}

.footer {
  text-align: center;
  background-color: darkgray;
  padding: 20px;
  color: navy;
  font-weight: 800;
}
